<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Cadastro de Processo Dnit</h1>

<form method="POST">

    <label>Número:</label>
    <input type="text" name="numero">

    <label>Tipo:</label>
    <select name="tipo">
        <option value="Acesso">Acesso</option>
        <option value="Energia">Energia</option>
    </select>

    <label>Interessado:</label>
    <input type="text" name="interessado">

    <label>Responsável:</label>
    <input type="text" name="responsavel">

    <button type="submit">Salvar</button>
</form>

<a href="/">Voltar</a>

</body>
</html>
